<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <title>Vue.js Start</title>
    <style>
        #app {
            font-family: 'Avenir', Helvetica, Arial, sans-serif;
            -webkit-font-smoothing: antialiased;
            -moz-osx-font-smoothing: grayscale;
            color: #2c3e50;
            margin-top: 60px;
        }
    </style>
</head>

<body>
<h1>Vue.js</h1>

<p>is ready to start an adventure</p>

<div id="app">
    <ul>
        <li v-for="item in list">{{item.id}} {{ item.name }}</li>
    </ul>
    <input type="text" v-model="newItemName"/> <button @click="addItem()">Add item</button>
</div>


<script src="https://cdn.jsdelivr.net/npm/vue@2.5.13/dist/vue.js"></script>
<script>
    const app = new Vue({
        el: '#app',
        data: {
            list: [{id: 1, name: "Foo"}, {id: 2, name: "Bar"}],
            newItemName: ''
        },
        methods: {
            addItem() {
                this.list.push({id: this.list[this.list.length - 1].id + 1, name: this.newItemName})
            }
        }
    })
</script>
</body>

</html>
